<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.featured_image, class: "img-fluid rounded mb-4", alt: @product.name if @product.featured_image.attached? %>
    </div>
    <div class="col-md-6">
      <h1 class="mb-3"><%= @product.name %></h1>
      <p class="mb-4"><%= @product.description %></p>
      <%= render "inventory", product: @product %>
      <div>
        <%= link_to "Back", products_path, class: "btn btn-secondary" %>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-warning" %>
        <%= button_to "Delete", @product, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?" } %>
        
        </div>
    </div>
  </div>
</div>
